@model PAW_Project.Models.Email.ResetPasswordEmailModel
@{
    Layout = "_EmailLayout.cshtml";
}
<h1>Password Reset Requested</h1>

<p>Hello, @Model.Username</p>

<p>We received a request to reset your password. Click the link below to set a new one:</p>

<p><a href="@Model.ResetLink">Reset your password</a></p>
