@model PAW_Project.Models.Email.WelcomeEmailModel
@{
Layout = "_EmailLayout.cshtml";
}

<h1>Welcome to ImageHelper!</h1>

<p>Hello, <strong>@Model.Username</strong>,</p>

<p>Your account has been created successfully. We're thrilled to have you on board!</p>

<p><strong>ImageHelper</strong> is a powerful tool that lets you upload, edit, and enhance your images online. All your media is stored securely on our platform, making it easy to access and manage anytime, anywhere.</p>

<p>You can now log in and start editing your images right away.</p>
